@using Microsoft.AspNetCore.Components.Authorization
@using VeriShip.Application.Common
@inherits LayoutComponentBase
@layout MainLayout




    

        <AuthorizeView Roles="@Roles.Officer" >
            <Authorized >
           
                @Body
          
            </Authorized>
            <NotAuthorized>
                <h1>You are not authorized to view this page</h1>
            </NotAuthorized>
        </AuthorizeView>




@code {

    

 
}