@page "/settings/templates"
@using VeriShip.Domain.Templates
@using VeriShip.WebApp.Components.Settings
@using VeriShip.WebApp.Models
@using Humanizer
@using System
@layout Layout


<TelerikToolBar>
 
    <ToolBarTemplateItem>
        <b>Templates</b>
    </ToolBarTemplateItem>
    <ToolBarSpacer></ToolBarSpacer>
    
</TelerikToolBar>
<div class="content center">
    <TelerikTabStrip @bind-ActiveTabIndex="@ActiveTabIndex">
        @foreach (TemplateType templateType in Enum.GetValues(typeof(TemplateType)))
        {
            
            <TabStripTab Title="@templateType.Humanize()">
               
                    <TemplateFiles TemplateType="@((TemplateType)ActiveTabIndex)"/>
              
            </TabStripTab>
        }
    </TelerikTabStrip>
</div>

@code {
    public int ActiveTabIndex { get; set; } = (int)TemplateType.CertificateOfAnalysis;
}
