@typeparam T
@inherits ComponentBase

@using Ardalis.Result
@using Humanizer

<div style="display: flex; align-items: center; justify-content: center;">
    @switch (Result.Status)
    {
        case ResultStatus.Ok:
        case ResultStatus.Created:
      
            @ChildContent(Result.Value)
            break;
        case ResultStatus.Unavailable:
            <ResultLoader/>
            break;
        default:
            <p>@Result.Status.Humanize()</p>
            break;
    }
   

</div>

@code {
    [Parameter, EditorRequired] public Result<T> Result { get; set; } = Result<T>.Unavailable();
    [Parameter] public RenderFragment<T> ChildContent { get; set; } // Render content based on success data
}