@inject IWebHostEnvironment Env

<TelerikAppBar position="@AppBarPosition.Top" PositionMode="AppBarPositionMode.Sticky" Class="appHeader" ThemeColor="ThemeColor.Primary">
    <AppBarSection>
        <img src="/images/logo.png" alt="logo" width="24" height="24"/>
    
        <NavLink href="/">
            <h2 >QC and shipment @(Env.IsDevelopment() ? "TEST" : "")</h2>
        </NavLink>
    </AppBarSection>

    <AppBarSpacer Size="12"></AppBarSpacer>
    <AppBarSection>
        <TopMenu />
    </AppBarSection>
    <AppBarSpacer></AppBarSpacer>
    <AppBarSection>
        
        <LoginDisplay></LoginDisplay>
    </AppBarSection>

</TelerikAppBar>
@code
{
    public string Title { get; set; } = "Shipment platform";

  
}
