@using Microsoft.AspNetCore.Components.Authorization
@using VeriShip.Application.Common
@inherits LayoutComponentBase
@layout MainLayout


<div class="content">
    <div style="background-color: var(--dark-blue-very-light); ">
        <Menu MenuItems="@MenuItems" Orientation="MenuOrientation.Vertical"></Menu>
    </div>

        <AuthorizeView Roles="@Roles.Officer" >
            <Authorized >
           
                @Body
          
            </Authorized>
            <NotAuthorized>
                <h1>You are not authorized to view this page</h1>
            </NotAuthorized>
        </AuthorizeView>

  
</div>


@code {

    private List<Menu.MenuItem> MenuItems { get; set; } =
    [
        new ("Specifications", "/settings/specifications", ""),
        new ("Addresses", "/settings/addresses"),
        new ("Templates", "/settings/templates")
    ];

 
}